<% include ../static/header %>
<div class="row">
    <div class="large-12 columns">
        <h3><%= profile.first_name %> <%= profile.last_name %>, <%= profile.profession %> (<%= profile.profile_views %>)</h3>
        <h4><%= profile.city %>, <%= profile.state %></h4>

        <% if(profile.availability) { %>
        <p><strong>Availability:</strong></p>
        <% profile.availability.forEach(function(val) { %>
        <p><%= val %></p>
        <% }) %>
        <% } %>

        <p><strong>Travel:</strong></p>
        <p><%= profile.travel %></p>

        <% if(profile.vocals) { %>
        <p><strong>Vocals:</strong></p>
        <% profile.vocals.forEach(function(val) { %>
        <p><%= val %></p>
        <% }) %>
        <% } %>

        <% if(profile.instruments) { %>
        <p><strong>Instruments:</strong></p>
        <% profile.instruments.forEach(function(val) { %>
        <p><%= val %></p>
        <% }) %>
        <% } %>

        <% if(profile.genres && profile.genres.length > 0) { %>
        <p><strong>Genres:</strong></p>
        <% profile.genres.forEach(function(val) { %>
        <p><%= val %></p>
        <% }) %>
        <% } %>

    </div>
    <div class="large-12 columns">
        <a href="/profile/update/<%= profile.id %>" class="button">Update</a> <a
                href="/profile/delete/<%= profile.id %>" class="alert button">Delete</a>
    </div>
</div>
<% include ../static/script %>
<% include ../static/footer %>