<% include ../static/header %>
<div class="row">
    <div class="large-12 columns">
        <h3>Search Musicians</h3>
        <% if(pageErrorMessage) { %>
        <p><%= pageErrorMessage %></p>
        <% } %>
        <form method="post" role="form">
            <div class="row">
                <% if(application.formData.availability) { %>
                <div class="large-4 columns">
                    <label>Availability
                        <select name="availability">
                            <% application.formData.availability.forEach(function(val) { %>
                            <option value="<%= val %>"><%= val %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
                <% } %>
                <div class="large-4 columns">
                    <label>City
                        <input type="text" placeholder="Last name" name="city">
                    </label>
                </div>
                <% if(application.formData.profession) { %>
                <div class="large-4 columns">
                    <label>Profession
                        <select name="profession">
                            <% application.formData.profession.forEach(function(val) { %>
                            <option value="<%= val %>"><%= val %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
                <% } %>
                <div class="large-4 columns">
                    <label>State
                        <input type="text" placeholder="State" name="state">
                    </label>
                </div>
                <% if(application.formData.travel) { %>
                <div class="large-4 columns">
                    <label>Travel
                        <select name="travel">
                            <% application.formData.travel.forEach(function(val) { %>
                            <option value="<%= val %>"><%= val %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
                <% } %>
                <% if(application.formData.genres) { %>
                <div class="large-4 columns">
                    <label>Genres
                        <select name="genres">
                            <% application.formData.genres.forEach(function(val) { %>
                            <option value="<%= val %>"><%= val %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
                <% } %>
                <% if(application.formData.vocals) { %>
                <div class="large-4 columns">
                    <label>Vocals
                        <select name="vocals">
                            <% application.formData.vocals.forEach(function(val) { %>
                            <option value="<%= val %>"><%= val %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
                <% } %>
                <% if(application.formData.instruments) { %>
                <div class="large-4 columns">
                    <label>Instruments
                        <select name="instruments">
                            <% application.formData.instruments.forEach(function(val) { %>
                            <option value="<%= val %>"><%= val %></option>
                            <% }) %>
                        </select>
                    </label>
                </div>
                <% } %>
                <div class="large-12 columns">
                    <input type="submit" class="button" value="Search Profiles">
                </div>
            </div>
        </form>
    </div>
</div>
<% include ../static/script %>
<% include ../static/footer %>