<% include ../static/header %>
<div class="row">
    <div class="large-12 columns">
        <h3>Search Results</h3>
    </div>
    <% if(searchResults.length > 0) { %>
    <% searchResults.forEach(function(val) { %>
    <div class="large-4 columns">
        <div class="callout">
        <h5><%= val.first_name %> <%= val.last_name %></h5>
            <p><%= val.first_name %> is a <%= val.profession.toLowerCase() %> currently working in <%= val.city %>, available <%= val.availability.toLowerCase() %> and willing to travel <%= val.travel.toLowerCase() %>.<br>
                [<a href="/musician/view/<%= val.id %>">VIEW</a>]</p>
        </div>
    </div>
    <% }); %>
    <% } %>
</div>
<% include ../static/script %>
<% include ../static/footer %>